:root {
    --font-base: 18px;
    --bg-img: url('/aesthetic/assets/sl-bg-1.png');
    --card-bg: pink;
    --form-bg: lemonchiffon;

    --space-unit: 1.2rem;
    --space-xxxs: calc(0.25 * var(--space-unit));
    --space-xxs:  calc(0.375 * var(--space-unit));
    --space-xs:   calc(0.5 * var(--space-unit));
    --space-sm:   calc(0.75 * var(--space-unit));
    --space-md:   calc(1.25 * var(--space-unit));
    --space-ml:   calc(1.5 * var(--space-unit));
    --space-lg:   calc(2 * var(--space-unit));
    --space-xl:   calc(3.25 * var(--space-unit));
    --space-xxl:  calc(5.25 * var(--space-unit));
    --space-xxxl: calc(8.5 * var(--space-unit));
    --space-xxxxl: calc(13.75 * var(--space-unit));

    --basic-padding: var(--space-sm);
}

html {
    font-size: var(--font-base);
}

body {
    font-family: 'freight-text-pro';
    background-image: var(--bg-img);
    background-size: cover;
    font-size: var(--font-base);
    box-sizing: border-box;
    padding: 1rem;
}

main {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 3vw;
}

h1 {
    display: none;
    margin: 0;
    padding: 0;
}

#business-card {
    display: flex;
    flex-flow: column;
    background-color: var(--card-bg);
    padding: var(--space-ml);
    padding-right: 0;
    padding-bottom: 0;
    width: clamp(15rem,22rem,calc(100% - 2rem));
    background: var(--card-bg);
}

.title {
    margin-bottom: 4rem;
}
.title img {
    max-width: 15rem;
    margin: 0;
    margin-left: 0.5rem;
}

.tagline {
    margin: 0;
    padding: 0;
    margin-left: var(--space-md);
    font-size: 1rem;
}

.invitation {
    margin-left: var(--space-md);
}

#contact-form {
    display: flex;
    flex-flow: column;
    margin-right: 4rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}

#contact-form label {
    display: none;
}
#contact-form input {
    margin-bottom: 1.5rem;
}

#contact-form input,
#contact-form textarea {
    background: var(--form-bg);
    border: 0;
    padding: var(--space-xs);
    padding-left: var(--space-md);
}

#contact-form *::placeholder {
    color: #222;
    opacity: 1;
    font-style: italic;
}

#contact-form textarea {
    height: 7rem;
}

#contact-form input[type="submit"] {
    text-align: right;
    background: none;
    text-decoration: underline;
    padding-right: var(--space-md);
}

.hidden {
    display: none;
}

@media(max-width: 667px) {
    main {
        padding: 0;
    }
    #contact-form {
        margin-right: 2rem;
        margin-bottom: 2rem;
    }
}
